server:
  port: 8080

spring:
  application:
    name: Speedify
  datasource:
    url: jdbc:postgresql://localhost:5432/speedify
    username: ${SPEEDIFYDB_USER}
    password: ${SPEEDIFYDB_PW}
  jpa:
    defer-datasource-initialization: true
    hibernate:
      ddl-auto: create-drop
  sql:
    init:
      mode: always
#logging:
#  level:
#    org.springframework.security: trace